body {
    width: 272px;
    font-family: "MS Sans Serif";
    height: auto;
}

img {
    width: 100%;
}

table {
    margin: 0 10px;
    border-collapse: collapse;
}

.titlediv {
    color: #707278;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    display: inline-block;
    width: 120px;
    flex: 1;
    height: 26px;
}

span {
    cursor: default;
}

.trtitle {
    border-bottom: 1px solid #c9d8e3;
}

.trblank {
    display: block;
    margin-top: 5px;
}

.trsitedata {
    height: 23px;
}

.tdsite {
    width: 166px;
    font-size: 13px;
}

    .tdsite input {
        height: 17px;
        width: 120px;
    }

    .tdsite .spansitename {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor:pointer;
    }

.tdtime {
    width: 50px;
    font-size: 13px;
}

.tdratio {
    width: 50px;
    font-size: 13px;
}

.imgupdatename, .imgupdatenamebtn {
    width: 13px;
    height: 13px;
    margin-left: 8px;
    cursor: pointer;
    display: none;
    float:right;
    margin-right:10px;
}

.imgupdatenamebtn {
    background-image: url(/images/editsitename.png);
}

.imgupdatename {
    background-image: url(/images/update.png);
    display: inline-block;
}

.hovertr {
    background-color: #F0F0F0;
}

.trtitle span {
    font-weight: bold;
}

.spantimeorder, .spanratioorder {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.switchbtn {
    width: 36px;
    height: 18px;
    background-color: #c9d8e3;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 9px;
}

.switchbtnfont {
    height: 18px;
    line-height: 18px;
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}

    .switchbtnfont, .switchbtnfont span {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }

.switchchecked {
    color: red;
}

.editspan {
    display: none;
}
